// colors
$codgray: #181818;

// mixin
@mixin start-at-mobile {
  @media (max-width: 576px) {
    @content;
  }
}
@mixin start-at-tablet {
  @media (min-width: 577px) {
    @content;
  }
}
@mixin start-at-desktop {
  @media (min-width: 992px) {
    @content;
  }
}

// background colors pokemon type
$normal: #b3b28b;
$fire: #ec8e53;
$water: #4f97ef;
$electric: #fcd146;
$grass: #8cd06e;
$ice: #9ed4d4;
$fighting: #eaeaea;
$poison: #b14abe;
$ground: #dac566;
$flying: #a78ee4;
$psychic: #f9709b;
$bug: #bed544;
$rock: #c0a54a;
$ghost: #6d569c;
$dragon: #7a4cf1;
